@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
    --botao-efeito: #5da2f7;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--azul-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__aviso {
    font-size: 12px;
    color: #C0C0C0;
}

.container__caixa {
    margin: 0 6em;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.secundario {
    align-items: center;
}

.container__descricao {
    padding: 2em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.descricao__imagem {
    padding: 2em;
}

.dispositivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
   
}

.dispositivos__lista {
    display: flex;
    list-style-type: none;
    padding: 5em;
}

.rodape {
    text-align: center;
}

.rodape__lista {
    display: flex;
    justify-content:  center;
    gap: 1em;
    list-style-type: none;
    margin: 2.25em 0 1.5em;
}

.lista__link a {
    color: var(--branco-principal);
    text-decoration: none;
}

.rodape__texto {
    font-size: .875em;
    color: var(--cinza-secundario);
    margin: 0 10% 1.5em;
}

.lista__link a:hover {
    color: var(--azul-botao);
}

.lista__link a:active {
    color: yellow;
}

.container__botao:hover {
    color: var(--cor-de-fundo);
    background-color: var(--botao-efeito);
}

